<div id="about-page">
<header class="global-navbar about-navbar">
  <div class="logo-container-global">
    <img src="/assets/images/mntc_logo_grey.png" alt="The logo for Minnesota Tech. It consists
              of the geographical shape of minnesota, painted vibrant green, the the text MN Tech
              coop inside of it" title="The MN Tech Logo" />
  </div>
  <nav>
    <a href="/home"><span class="nav-link">Home</span></a
    ><a href="/about"><span class="nav-link">About</span></a
    ><a href="/services"><span class="nav-link">Services</span></a
    ><a href="/join"><span class="nav-link">Join</span></a
    ><a href="/blog"><span class="nav-link">Blog</span></a>
  </nav>
</header>
<main class="about-content">
  <section class="page-header about-header">
    <div class="content-container">
      <h1 class="header-title">About MN Tech Co Op</h1>
      <p class="header-content">We're a small tech cooperative serving nonprofits
                                and small businesses. <br />Our members are Minnesota
                                freelancers that want to provide high quality work
                                while offering these great institutions of Minnesota
                                a leg up on cost!
      </p>
    </div>
  </section>
  <section class="values-legal-section">
    <ul class="values-legal-section-list">
      <li class="core-values values-legal">
        <ul class="core-value-list">
          <h2 class="values-header">Core Values</span>
          <li class="core-value value-one">
            <h6 class="value-header">We value tech!</h6>
            <p class="value-content">
            At the MN Tech Co op we emphasize using technology to make
            our clients lives easier. We enthusiatically embrace new Tech
            and look for ways to integreate it into our services.
            </p>
          </li>
          <li class="core-value value-two">
            <h6 class="value-header">We suppport small business and non profits!</h6>
            <p class="values-content">
            In MN our small business and non profits often get priced
            out of accessing technology that will help them sustain and
            grow. We are working to change that.
            </p>
          </li>
          <li class="core-value value-three">
            <h6 class="value-header">We embrace the cooperative model!</h6>
            <p class="value-content">
            We want all members of MN Tech Co op to make a profits
            doing what they love, while they do good in the world.
            </p>
          </li>
        </ul>

      </li
      ><li class="legal-stuff values-legal">
        <span class="legal-header">Legal Stuff</span>
      </li>
    </ul>
  </section>
</main>
</div>
