<div id="general-page">
<main class="about-content">
  <section class="page-header about-header">
    <div class="content-container">
      <h1 class="header-title">About MN Tech Co Op</h1>
      <p class="header-content">We're a small tech cooperative serving nonprofits
                                and small businesses. <br />Our members are Minnesota
                                freelancers that want to provide high quality work
                                while offering these great institutions of Minnesota
                                a leg up on cost!
      </p>
    </div>
  </section>

  <section class="values-legal-section left-side">
      <h2 class="values-header header">Core Values</h2>
      <ul class="core-value-list">
        <li class="core-value value-one list-item">
          <h6 class="value-header list-header">We value tech!</h6>
          <p class="value-content list-content">
          At the MN Tech Co op we emphasize using technology to make
          our clients lives easier. We enthusiatically embrace new Tech
          and look for ways to integreate it into our services while also
          understanding and implementing tried and true technolgies that stand
          the test of time.
          </p>
        </li>
        <li class="core-value value-two list-item">
          <h6 class="value-header list-header">We suppport small business and non profits!</h6>
          <p class="value-content list-content">
          In MN our small business and non profits often get priced
          out of accessing technology that will help them sustain and
          grow. We are working to change that. With highly competive pricing model, we will help your organization or firm meet
          it's goals, without breaking the bank.
          </p>
        </li>
        <li class="core-value value-three list-item">
          <h6 class="value-header list-header">We embrace the cooperative model!</h6>
          <p class="value-content list-content">
          We want all members of MN Tech Co op to make a profits
          doing what they love, while they do good in the world.
          While we are legally an LLC, we embrace the cooperative
          model - membership, community, trust, and accountability.
          </p>
          </li>
      </ul>
      <ul class="legal-stuff values-legal">
        <li class="list-item">
          <h2 class="legal-header header">Legal Stuff</h2>
          <p class="legal-content list-content">Some more shit...</p>
        </li>
    </ul>
  </section>

  <section class="members-section right-side">
    <div class="section-header">
      <h2 class="members-header header">Meet the Memebers</h2>
    </div>
      <ul class="members-list">
        <li class="member adrian">
          <div class="image-container"></div>
          <div class="member-bio">
            <h6 class="greeting">Yo, I'm Adrian.</h6>
            <p class="bio-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Aenean eu justo a nisi consectetur dignissim.
              Morbi sit amet nulla elit. Nullam quis consectetur nunc.
              Curabitur lobortis laoreet lacus nec sagittis. Praesent
              porta, felis vel congue viverra, ligula purus lobortis
              mauris, quis imperdiet lacus neque sed purus.
            </p>
          </div>
        </li>
        <li class="member hannah">
          <div class="image-container"></div>
          <div class="member-bio">
            <h6 class="greeting">Hello, I'm Hanna.</h6>
            <p class="bio-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Aenean eu justo a nisi consectetur dignissim.
              Morbi sit amet nulla elit. Nullam quis consectetur nunc.
              Curabitur lobortis laoreet lacus nec sagittis. Praesent
              porta, felis vel congue viverra, ligula purus lobortis
              mauris, quis imperdiet lacus neque sed purus.
            </p>
          </div>
        </li>
        <li class="member jeff">
          <div class="image-container"></div>
          <div class="member-bio">
            <h6 class="greeting">How's it going? I'm Jeff.</h6>
            <p class="bio-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Aenean eu justo a nisi consectetur dignissim.
              Morbi sit amet nulla elit. Nullam quis consectetur nunc.
              Curabitur lobortis laoreet lacus nec sagittis. Praesent
              porta, felis vel congue viverra, ligula purus lobortis
              mauris, quis imperdiet lacus neque sed purus.
            </p>
          </div>
        </li>
      </ul>
  </section>
</main>
</div>
