<div id="home-page">
<header class="global-navbar">
  <div class="logo-container-global">
    <img src="/assets/images/mntc_logo_grey.png" alt="The logo for Minnesota Tech. It consists
              of the geographical shape of minnesota, painted vibrant green, the the text MN Tech
              coop inside of it" title="The MN Tech Logo" />
  </div>
  <nav>
    <a href="#"><span class="nav-link">Home</span></a
    ><a href="/about"><span class="nav-link">About</span></a
    ><a href="/services"><span class="nav-link">Services</span></a
    ><a href="/join"><span class="nav-link">Join</span></a
    ><a href="/blog"><span class="nav-link">Blog</span></a>
  </nav>
</header>
<main class="home-content">
  <section class="page-header home-header">
    <div class="content-container">
      <h1 class="header-title">Let us make your life easier.</h1>
      <p class="header-content">Simple and sustainable tech solutions for nonprofits
                                and small businesses.
      </p>
    </div>
  </section>
  <section class="services-section">
    <ul class="services-section-list">
      <li class="service web-design">
        <span class="service-header">Web Design</span>
      </li
      ><li class="service branding">
        <span class="service-header">Branding</span>
      </li
      ><li class="service apps">
        <span class="service-header">Apps &amp; More</span>
      </li>
    </ul>
  </section>
</main>
</div>
