<section id="landing-page">
  <div class="logo-container">
    <img src="/assets/images/mntc_logo_green.png" alt="The logo for Minnesota Tech. It consists
              of the geographical shape of minnesota, painted vibrant green, the the text MN Tech
               coop inside of it" title="Minnesota Tech Logo"/>
  </div>
  <ul class="navigate-container">
    <li class="navigate-container-left">
        <a href="/home">
          <span class="navigate-text">I need</span><br />
          <span class="navigate-text large left">tech</span>
        </a>
    </li>
    <li class="navigate-container-right">
      <a href="/join">
        <span class="navigate-text">I am</span><br /><span class="navigate-text large right">tech</span>
      </a>
    </li>
  </ul>
</section>
