<section id="landing-page">
  <div class="logo-container">
    <img src="/assets/images/mntc_logo_green.png" alt="MN Tech Coop Logo"/>
  </div>
  <div class="navigate-container">
    <div class="navigate-container-left">
      <div class="navigate-text-container">
        <span class="navigate-text">I need</span><br /><span class="navigate-text large left">tech</span>
      </div>
    </div>
    <div class="navigate-container-right">
      <div class="navigate-text-container">
        <span class="navigate-text">I am</span><br /><span class="navigate-text large right">tech</span>
      </div>
    </div>
  </div>
</section>
