<section id="landing-page">
  <div class="logo-container">
    <img src="/assets/images/mntc_logo_green.png" alt="MN Tech Coop Logo"/>
  </div>
  <ul class="navigate-container">
    <li class="navigate-container-left">
        <span class="navigate-text">I need</span><br /><span class="navigate-text large left">tech</span>
    </li>
    <li class="navigate-container-right">
        <span class="navigate-text">I am</span><br /><span class="navigate-text large right">tech</span>
    </li>
  </ul>
</section>
