<div id="general-page">
<header class="global-navbar general-navbar">
  <div class="logo-container-global">
    <img src="/assets/images/mntc_logo_grey.png" alt="The logo for Minnesota Tech. It consists
              of the geographical shape of minnesota, painted vibrant green, the the text MN Tech
              coop inside of it" title="The MN Tech Logo" />
  </div>
  <nav>
    <a href="/home"><span class="nav-link">Home</span></a
    ><a href="/about"><span class="nav-link">About</span></a
    ><a href="/services"><span class="nav-link">Services</span></a
    ><a href="/join"><span class="nav-link">Join</span></a
    ><a href="/blog"><span class="nav-link">Blog</span></a>
  </nav>
</header>
<main class="services-content">
  <section class="page-header services-header">
    <div class="content-container">
      <h1 class="header-title">Services with principle</h1>
      <p class="header-content">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Aenean eu justo a nisi consectetur dignissim.
                    Morbi sit amet nulla elit. Nullam quis consectetur nunc.
                    Curabitur lobortis laoreet lacus nec sagittis.
      </p>
    </div>
  </section>

  <section class="services-section left-side">
    <h2 class="services-section-header header">Services</h2>
    <ul class="services-list">
      <li class="service-item list-item">
        <h6 class="service-item-header list-header">Web Design</h6>
        <p class="list-content">I'm a description of a service!
        <a href="#">Web Design work sample.</a></p>
      </li>
      <li class="service-item list-item">
        <h6 class="service-item-header list-header">Branding</h6>
        <p class="list-content">I'm a description of a service!
        <a href="#">Branding work sample.</a></p>
      </li>
      <li class="service-item list-item">
        <h6 class="service-item-header list-header">Apps &amp; More</h6>
        <p class="list-content">I'm a description of a service!
        <a href="#">Apps &amp; MOre</a> work sample.</a></p>
      </li>
    </ul>
  </section>

  <section class="quote-section right-side">
    <div class="section-header">
      <h2 class="quote-header">Request A Quote</h2>
    </div>
    <form class="request-form">
      <label class="name-label" for="name">Name</label>
      <input class="name-input" type="text" name="name" />

      <label class="organization-lable" for="organization">Company/Organization</label>
      <input class="organization-input" type="text" name="organization" />

      <label class="email-label" for="email">Email</label>
      <input class="email-input" type="text" name="email" />

      <label class="phone-label" for="phone">Phone</label>
      <input class="phone-input" type="text" name="phone" />

      <label class="description-label" for="description">Describe your project</label>
      <input class="description-input" type="text" name="description" />
    </form>
  </section>
</main>
</div>
