  <div class="section-header">
    <h2 class="quote-header header">Request A Quote</h2>
  </div>
  <form class="request-form" ng-model="survey">
    <div class="input-container">
      <label class="name-label" for="name">Name</label>
      <input class="name-input" type="text" name="name" ng-model="survey.name" />
    </div>
    <div class="input-container">
      <label class="organization-label" for="organization">Company/Organization</label>
      <input class="organization-input" type="text" name="organization" ng-model="survey.organization" />
    </div>
    <div class="input-container email-container">
      <label class="email-label" for="email">Email</label>
      <input class="email-input" type="email" name="email" ng-model="survey.email" />
    </div>
    <div class="input-container phone-container">
      <label class="phone-label" for="phone">Phone</label>
      <input class="phone-input" type="tel" name="phone" ng-model="survey.phone" />
    </div>
    <div class="input-container description-container">
      <label class="description-label" for="description">Describe your project</label>
      <textarea class="description-input" name="description" ng-model="survey.description" ></textarea>
    </div>
    <div class="input-container submit-button">
      <input type="submit" ng-click="survey.sendSurveyData(survey)"/>
    </div>
  </form>
