/*--------------------------------------------------------------------------------------------
Reset - Thanks Eric Meyer!!
---------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}


/*--------------------------------------------------------------------------------------------
Colors
---------------------------------------------------------------------------------------------*/
:root {
--slate-grey: #333D46;
--vibrant-green: #B1DD01;
--navy: #123855;
--storm-grey: #638290;
--cloud-grey: #C0C5CE;
--white: #f5f5f5;
--dark-grey: #2a2d2a;
}

/*--------------------------------------------------------------------------------------------
Globals
---------------------------------------------------------------------------------------------*/
body {
	font-size: 62.5%;
}

.global-navbar {
	background-color: var(--white);
	box-sizing: padding-box;
	height: 16vh;
	position: relative;
	width: 100vw;
}

.global-navbar nav {
	bottom: 0;
	float: right;
	margin: 3em;
	padding: 2em;
	position: absolute;
	right: 0;
	width: 45vw;
}

.global-navbar nav a {
	border-bottom: solid 2px var(--navy);
	padding: 0 4em 2em 4em;
	transition: 0.25s ease-in;
}

.global-navbar nav a:first-child {
	padding: 0 4em 2em 3em;
}

.global-navbar nav a:last-child {
	padding: 0 3em 2em 4em;
}

.global-navbar nav a:hover,
.global-navbar nav a:focus,
.global-navbar nav a:active
.global-navbar nav a:visited {
	border-bottom: solid 2px var(--vibrant-green);
}

.nav-link {
	color: var(--dark-grey);
	font-size: 2.25em;
	text-transform: uppercase;
}

.logo-container-global {
	margin-left: 4em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 13em;
}

/*
.general-navbar .logo-container-global {
	height: 100%;
	width: 15em;
}*/

.logo-container-global img {
	height: 100%;
	width: 100%;
}


.page-header {
	background-color: var(--slate-grey);
	min-width: 100vw;
	text-align: center;
}

h1.header-title {
	color: var(--vibrant-green);
	text-transform: uppercase;
}

p.header-content {
	color: var(--white);
	font-weight: 300;
}

/*--------------------------------------------------------------------------------------------
Fonts
---------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, span, p {
  font-family: 'Montserrat', sans-serif;

}

/*--------------------------------------------------------------------------------------------
Landing Page
---------------------------------------------------------------------------------------------*/
#landing-page {
  background-color: var(--slate-grey);
	min-height: 100vh;
	min-width: 100vw;
}

#general-page {
	position: fixed;
	min-height: 100vh;
	min-width: 100vw;
}

.logo-container-landing {
	margin: 0 auto 1em;
	width: 15%;
}

.logo-container-landing img {
	margin-left: 1em;
	max-height: 100%;
	max-width: 100%;
	padding: 5em 0 2em 0;
}

.navigate-container {
	line-height: 1.2;
	width: 100%;
}

.navigate-container-left, .navigate-container-right {
	display: inline-block;
	height: 55vh;
	padding-top: 2em;
	width: 50%;
}

.navigate-container-left {
	border-right: 1px solid var(--vibrant-green);
	float: left;
	padding-right: 7em;
	text-align: right;
}

.navigate-container-right {
	border-left: 1px solid var(--vibrant-green);
	padding-left: 7em;
}

.navigate-text {
	color: var(--vibrant-green);
	font-family: 'Montserrat', sans-serif;
	font-size: 8em;
	font-weight: 400;
	text-transform: uppercase;
}

.navigate-text.large {
	font-size: 12em;
}


/*--------------------------------------------------------------------------------------------
Home Page
---------------------------------------------------------------------------------------------*/

.page-header.home-header {
	height: 41vh;
}

.page-header.home-header .header-title {
	font-size: 10em;
	padding: 0.75em 0.75em 0.5em 0.75em;
}

.page-header.home-header .header-content {
	font-size: 3.66em;
	letter-spacing: 0.5px;
}

li.service {
	display: inline-block;
	height: 43vh;
	width: 33.33%;
}

ul.services-section-list {
	position: relative;
}

li.service.web-design, li.service.apps {
	background-color: var(--cloud-grey);
	color: var(--navy);
	position: relative;
	text-shadow:
		-1px -1px 0 var(--white),
    1px -1px 0 var(--white),
    -1px 1px 0 var(--white),
    1px 1px 0 var(--white);

}

li.service.branding {
	background-color: var(--storm-grey);
	border-left: 2px solid var(--slate-grey);
	border-right: 2px solid var(--slate-grey);
	color: var(--white);
	position: relative;
	text-shadow:
		-1px -1px 0 var(--slate-grey),
		1px -1px 0 var(--slate-grey),
		-1px 1px 0 var(--slate-grey),
		1px 1px 0 var(--slate-grey);
}

li.service.web-design, li.service.apps, li.service.branding {
	position: relative;
}

.service-header {
	cursor: pointer;
	font-size: 3.5em;
	font-weight: 600;
	left: 50%;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 25%;
	transform: translate(-50%, -50%);
	width: 100%;
}


/*--------------------------------------------------------------------------------------------
About Page
---------------------------------------------------------------------------------------------*/

.page-header {
	height: 30vh;
}

.page-header .header-title {
	font-size: 8em;
	padding: 0.33em;
}

.page-header .header-content {
	font-size: 3em;
	letter-spacing: 0.5px;
	line-height: 1.25;
	max-width: 60vw;
	margin: 0 auto;
}

/*Left Side*/

.left-side {
	background-color: var(--cloud-grey);
	color: var(--navy);
	width: 40vw;
}

.header {
	font-size: 2.6em;
	font-weight: 600;
	text-transform: uppercase;
}

.core-values .core-value-list {
	height: 41vh;
	padding: 1em;
}

.left-side .list-item {
	line-height: 1.35;
	padding-top: 1em;
}

.list-header {
	font-size: 1.8em;
	font-weight: 600;
}

.list-content {
	font-size: 1.8em;
	font-weight: 300;
}

.legal-stuff.values-legal {
	background-color: var(--storm-grey);
	color: var(--white);
	height: 13vh;
	padding: 0.45em;
}

.legal-header {
	color: var(--cloud-grey);
}

/*Right Side*/

.right-side {
	bottom: 0;
	background-color: white;
	color: var(--navy);
	float: right;
	height: 54vh;
	padding: 2em;
	position: absolute;
	right: 0;
	width: 60vw;
}

.section-header {
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
}

.member .image-container {
	border: 1px solid var(--cloud-grey);
	border-radius: 50%;
	height: 8em;
	width: 8em;
}

.member {
	margin: 2em 0;
	position: relative;
}

.member.jeff .image-container {
	background-image: url("../assets/images/jeff.jpg");
	background-size: cover;
}

.member.adrian .image-container {
	background-image: url("../assets/images/adrian.jpg");
	background-size: cover;
}

.member.hannah .image-container {
	background-image: url("../assets/images/hannah.jpg");
	background-size: cover;
}

.member-bio {
	bottom: 0;
	font-size: 1.4em;
	float: right;
	margin-right: 3em;
	position: absolute;
	right: 0;
	width: 80%;
}

.member-bio .bio-content {
	font-weight: 300;
}


/*--------------------------------------------------------------------------------------------
Services Page
---------------------------------------------------------------------------------------------*/

.left-side {
	height: 54vh;
}

.services-section.left-side {
	padding: 1em;
}
